*
{
    margin: 0;
    padding: 0;
}

body {

    background: #ffffff;
    /* background-image: url("../static/bg.jpg"); */
    background-size: 100% 100%;
  }


#webgl_home1{
    height: 100vh;
    width: 100vw;
}
#webgl_home1 canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#content{
    /* background-color: antiquewhite; */
    height: 2000px;
}
